@model College.Presenters.EnrollmentContext.EnrollmentListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(Model.CreateButton.Text, "ChooseStudent", null, new
    {
        @class = "btn",
        style = $"background-color: {Model.CreateButton.Color}; " +
        $"color: {Model.CreateButton.FontColor}; " +
              $"border: 1px solid black"
    })
</p>
<table class="table">
    <tr>
        <th>
            Acadêmico
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Students) {
    <tr>
        <td>
            @item.Student
        </td>
        <td>

            @Html.ActionLink(item.ConfirmButton.Text, "Confirm", new { id = item.Id }, new
            {
                @class = "btn",
                style = $"background-color: {item.ConfirmButton.Color}; " +
                $"color: {item.ConfirmButton.FontColor}; " +
                $"border: 1px solid black"
            })
            @Html.ActionLink(item.DenyButton.Text, "Deny", new { id = item.Id }, new
            {
                @class = "btn",
                style = $"background-color: {item.DenyButton.Color}; " +
                $"color: {item.DenyButton.FontColor}; " +
                $"border: 1px solid black"
            })
        </td>
    </tr>
}

</table>
