
@{
    ViewBag.Title = "Student";
}

@if (ViewBag.Disciplines != null)
{
    <div class="jumbotron">
        <h2>Disciplinas</h2>
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>
            @foreach (College.Entities.EvaluationContext.Entities.Discipline discipline in ViewBag.Disciplines)
            {
                <tr>
                    <td><h4>@discipline.Name</h4></td>
                    <td>
                        @switch (ViewBag.StatusEnrollment)
                        {
                            case College.Entities.EnrollmentContext.Enumerators.EStatusEnrollment.PreEnrollment:
                                <label class="label label-warning">Pré-Matricula</label>
                                break;
                            case College.Entities.EnrollmentContext.Enumerators.EStatusEnrollment.Canceled:
                                <label class="label label-danger">Matricula Rejeitada</label>
                                break;
                            case College.Entities.EnrollmentContext.Enumerators.EStatusEnrollment.Confirmed:
                                <label class="label label-success">Matriculado</label>
                                break;
                        }
                    </td>
                </tr>

            }
        </table>
        @Html.ActionLink("Notas", "Index", "Grade", null, new { @class = "btn btn-default" })
    </div>
}

@for (int cont = 1; cont <= (ViewBag.Enrollments as IEnumerable<College.Entities.EnrollmentContext.Entities.Enrollment>).Count(); cont++)
{
    @Html.ActionLink("Notas - Semestre " + cont, "Index", "Grade", new { enrollmentId = (ViewBag.Enrollments as IEnumerable<College.Entities.EnrollmentContext.Entities.Enrollment>).ElementAt(cont - 1).Id }, new { @class = "btn btn-default" })
}

